@import '~antd/dist/antd.css';

Header{
    margin: 20px auto;
    width: 60vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: center;
    top: 0;
}
.Input-search{
display: flex;
justify-content: center;
}
