@import "~antd/dist/antd.css";

.container {
  width: 30%;
  background-color: #f0f2f5;
  border-radius: 10px;
  margin-left: 30vw;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 35%;
  text-align: start;
  
}

.profile {
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  top: 15px;
}
.userPost {
  margin-left: 10px;
  display: flex;
  align-items: block;
  width: 250px;
  height: 150px;
  object-fit: cover !important;
}
.userName {
  position: absolute;
  padding-top: 20px;
  margin-left: 4vw;
  font-size: 16px;
  font-weight: bold;
}
.prof {
  display: flex;
  justify-content: space-between;
}

.sts {
  display: inline;
  justify-content: inline;
  margin-left: 5px;
  position: relative;
  top: 35px;
}
.created-time {
  margin: 10px 20px;
  margin-left: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: smaller;
}

.userStatus {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
