@import "~antd/dist/antd.css";

.inputArea {
  width: auto;
  height: 35px;
  align-items: center;
  border: none;
  outline: none;
  position: absolute;
  left: 60px;
}

.postCard {
  position: relative;
  bottom: 80px;
  margin-left: 30%;
  width: 30%;
  height: 15vh;
  border-bottom: 1px solid #eff2f5;
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}
.main-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
.userProf1 {
  position: absolute;
  left: 20px;
  border-radius: 50%;
}
